_pycache_/
venv/
.mypy_cache/
.ruff_cache/

data/mariadb
data/mongodb
# Ignore MySQL and MariaDB data
data/
!data/*.sql

# Ignore MongoDB data
mongo_data/

# Ignore general database logs
*.ibd
*.log
*.lock
*.wt
*.turtle
*.ibdata1

